
<div class="product-big-title-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-bit-title text-center">
					<h2>Checkout</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="single-product-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-content-right">
					<form  action="/checkout" class="checkout" method="post" name="checkout">
						<div id="customer_details" class="col2-set">
							<div class="row">
								<div class="col-md-12">
									{if="$error != ''"}
									<div class="alert alert-danger">
										{$error}
									</div>
									{/if}
									<div class="woocommerce-billing-fields">
										<h3>Shipping address</h3>
										<p id="zipCodeField" class="form-row form-row-wide address-field validate-required">
											<label class="" for="zipCode">Zip Code <abbr title="required" class="required">*</abbr>
											</label>
                                            <input type="text" value="{$address.zipCode}" placeholder="00000-000" id="zipCode" name="zipCode" class="input-text ">
                                            <input type="submit" value="Atualizar CEP" id="place_order" class="button alt" formaction="/checkout" formmethod="get">
										</p>
										<p id="addressField" class="form-row form-row-wide address-field validate-required">
											<label class="" for="address">Address <abbr title="required" class="required">*</abbr>
											</label>
											<input type="text" value="{$address.address}" placeholder="Address, number and district" id="address" name="address" class="input-text ">
										</p>
										<p id="complementField" class="form-row form-row-wide address-field">
											<label class="" for="complement">Complement <abbr title="required" class="required">*</abbr>
											</label>
											<input type="text" value="{$address.complement}" placeholder="Complement (Optional)" id="complement" name="complement" class="input-text ">
                                        </p>
										<p id="residenceNumberField" class="form-row form-row-wide address-field">
											<label class="" for="residenceNumber">Residence Number <abbr title="required" class="required">*</abbr>
											</label>
											<input type="text" placeholder="Residence Number" id="residenceNumber" name="residenceNumber" class="input-text ">
                                        </p>
                                        <p id="districtField" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
											<label class="" for="district">District <abbr title="required" class="required">*</abbr>
											</label>
											<input type="text" placeholder="district" id="district" name="district" class="input-text ">
										</p>
										<p id="cityField" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
											<label class="" for="city">City <abbr title="required" class="required">*</abbr>
											</label>
											<input type="text" value="{$address.city}" placeholder="City" id="city" name="city"  class="input-text">
										</p>
										<p id="stateField" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
											<label class="" for="state">State</label>
											<input type="text" id="state" name="state" placeholder="State" value="{$address.state}" class="input-text ">
										</p>
										<p id="countryField" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
											<label class="" for="country">Country</label>
											<input type="text" id="country" name="country" placeholder="Country" value="{$address.country}" class="input-text ">
										</p>
										<div class="clear"></div>
										<h3 id="order_review_heading" style="margin-top:30px;">Detail</h3>
										<div id="order_review" style="position: relative;">
											<table class="shop_table">
												<thead>
													<tr>
														<th class="product-name">Products</th>
														<th class="product-total">Total</th>
													</tr>
												</thead>
												<tbody>
                                                    {loop="$products"}
													<tr class="cart_item">
														<td class="product-name">
															{$value.name} <strong class="product-quantity">× {$value.amount}</strong> 
														</td>
														<td class="product-total">
															<span class="amount">{$value.price}</span>
														</td>
                                                    </tr>
                                                    {/loop}
												</tbody>
												<tfoot>
													<tr class="cart-subtotal">
														<th>Subtotal</th>
														<td><span class="amount">{$totals.subTotal}</span>
														</td>
													</tr>
													<tr class="shipping">
														<th>Freight</th>
														<td>
															{$cartFreight}
															<input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
														</td>
													</tr>
													<tr class="order-total">
														<th>Total</th>
														<td><strong><span class="amount">{$totals.total}</span></strong> </td>
													</tr>
												</tfoot>
											</table>
											<div id="payment">
												<div class="form-row place-order">
													<input type="submit" data-value="Place order" value="Continuar" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
												</div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>