 
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-6">
                {if="$errorLogin != ''"}
                <div class="alert alert-danger">
                    {$errorLogin}
                </div>
                {/if}
                <form action="/login" id="login-form-wrap" class="login" method="post">
                    <h2>Access</h2>
                    <p class="form-row form-row-first">
                        <label for="login">Username/E-mail <span class="required">*</span>
                        </label>
                        <input type="text" id="login" name="login" class="input-text">
                    </p>
                    <p class="form-row form-row-last">
                        <label for="password">Password <span class="required">*</span>
                        </label>
                        <input type="password" id="password" name="password" class="input-text">
                    </p>
                    <div class="clear"></div>
                    <p class="form-row">
                        <input type="submit" value="Login" class="button">
                        <label class="inline" for="rememberme"><input type="checkbox" value="forever" id="rememberme" name="rememberme"> Manter conectado </label>
                    </p>
                    <p class="lost_password">
                        <a href="/forgot">Forgot Password?</a>
                    </p>

                    <div class="clear"></div>
                </form>                    
            </div>
            <div class="col-md-6">
                
                {if="$errorRegister != ''"}
                <div class="alert alert-danger">
                    {$errorRegister}
                </div>
                {/if}
                <form id="register-form-wrap" action="/register" class="register" method="post">
                    <h2>Criar conta</h2>
                    <p class="form-row form-row-first">
                        <label for="name">Full Name <span class="required">*</span>
                        </label>
                        <input type="text" id="name" name="name" class="input-text" value="">
                    </p>
                    <p class="form-row form-row-first">
                        <label for="email">E-mail <span class="required">*</span>
                        </label>
                        <input type="email" id="email" name="email" class="input-text" value="">
                    </p>
                    
                    <p class="form-row form-row-last">
                        <label for="usernameRegister">Username <span class="required">*</span>
                            </label>
                            <input type="text" id="usernameRegister" name="usernameRegister" class="input-text">
                        </p>
                        <div class="clear"></div>

                    <p class="form-row form-row-last">
                    <label for="passwordRegister">Password <span class="required">*</span>
                        </label>
                        <input type="password" id="passwordRegister" name="passwordRegister" class="input-text">
                    </p>
                    <div class="clear"></div>
                    
                    <p class="form-row form-row-first">
                        <label for="phone">Phone
                        </label>
                        <input type="text" id="phone" name="phone" class="input-text" value="">
                    </p>
                    <p class="form-row">
                        <input type="submit" value="Create" name="login" class="button">
                    </p>

                    <div class="clear"></div>
                </form>               
            </div>
        </div>
    </div>
</div>